<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yummy Recipes</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    
        <style>  
        body{
            background-color: gray;
        
        }
        
        .bg-4 { 
            background-color: #2f2f2f;
            color: #ffffff;
            margin-top: 190px;
            padding: 20px;
        }
        
        .logo1{
        height: 50px;
        padding-left: 5px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    
         #pane {
                width: 150px;
            }

    </style>
    
    
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top"><!--start of navbar-->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="../static/images/img.png" class="logo1"></a>
            </div>
        <ul class="nav navbar-nav navbar-right">
             <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="addCategory.html">Add Category</a></li>
            <li><a href="viewRecipe.html">My Recipe</a></li>
            <li><a href="">Logout</a></li>
        </ul> <!--end of navbar-->
        </div>
        </nav>
        <div class="container">
        <div class="row" id="editForm">
          <div class="col-sm-4" id="pane">
                  <div class="panel panel-default">
                      <div class="panel-body">My recipes</div>
                  </div>
          </div>
           <div class="col-sm-8">
            <form class="sForm" action="">
                  <div class="form-group">
                    <label for="category">Category:</label>
                    <input type="text" class="form-control" name="category" placeholder="category....">
                  </div>
                    <div class="form-group">
                    <label for="dish"> Dish:</label>
                    <input type="text" class="form-control" name="dish" placeholder="dish...">
                  </div>

                  <div class="form-group">
                    <label for="recipe">Ingridients:</label>
                    <textarea class="form-control" rows="5" name="comment" placeholder="recipe..."></textarea>
                  </div>
                  <div class="form-group">
                    <label for="method">Method:</label>
                    <textarea class="form-control" rows="5" name="comment" placeholder="method..."></textarea>
                  </div>
                  <button type="submit" class="btn btn-default pull-right">Submit</button>
            </form><!--end of name-->
            </div>
        </div>
    </div><!--end of container-->

    <footer class="container-fluid bg-4 text-center">
      <p>Yummy Recipes Developed By James Muriuki <a href="https://web.facebook.com/TechBase.co/">Techbase</a></p> 
    </footer>
    
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</body>
</html>