{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yummy Recipes</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar navbar-default"><!--start of navbar-->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="../static/images/img.png" class="logo"></a>
            </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for("index")}}">Yummy Recipes</a></li>
            <li><a href="{{url_for("index")}}">Login</a></li>
            <li><a href="{{url_for("signup")}}">Sign Up</a></li>
        </ul> <!--end of navbar-->
        </div>
        </nav>
        <div class="container sForm">
        <form id="editForm"method="POST" action="{{url_for('index')}}">
              <div class="form-group">
                {{ form.csrf_token }}
                {{ render_field(form.email, class="form-control", placeholder="Email") }}
                {{ render_field(form.password, class="form-control", placeholder="Password") }}
              </div>
            <p>Dont have an account? register to get started <a href="{{url_for("signup")}}">Register</a></p>
              <button type="submit" class="btn btn-primary pull-right">Submit</button>            
        </form>
    </div>
    
    <footer class="container-fluid bg-2 text-center">
      <p>Yummy Recipes Developed By James Muriuki <a href="https://web.facebook.com/TechBase.co/">Techbase</a></p> 
    </footer>
    
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</body>
</html>