<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yummy Recipes</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar navbar-default"><!--start of navbar-->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="../static/images/img.png" class="logo"></a>
            </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="addCategory.html">Add Category</a></li>
            <li><a href="viewRecipe.html">My Recipe</a></li>
            <li><a href="index.html">Logout</a></li>
        </ul> <!--end of navbar-->
        </div>
        </nav>
        <div class="container" id="editForm">
         <div class="panel panel-success" >
         <div class="panel-heading">   
          <h4>Categories</h4>
        </div>
         <div class="panel-body">            
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Category</th>
                <th>Recipe</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Breakfast</td>
                <td>Kdf</td>
                <td><a href="" class=""><span class="label label-success">Edit</span></a></td>
                <td><a href=""><span class="label label-danger">Delete</span></a></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    </div>
    <footer class="container-fluid bg-2 text-center">
      <p>Yummy Recipes Developed By James Muriuki <a href="https://web.facebook.com/TechBase.co/">Techbase</a></p> 
    </footer>
    
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</body>
</html>