<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yummy Recipes</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar navbar-default"><!--start of navbar-->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="../static/images/img.png" class="logo"></a>
            </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Yummy Recipes</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul> <!--end of navbar-->
        </div>
        </nav>
        <div class="container sForm">
        <form id="editForm" action="">
              <div class="form-group">
                <label for="email">Username:</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
              </div>
            <p>Dont have an account? register to get started <a href="signup.html">Register</a></p>
              <button type="submit" class="btn btn-primary pull-right">Submit</button>            
        </form>
    </div>
    
    <footer class="container-fluid bg-1 text-center">
      <p>Yummy Recipees Developed By James Muriuki <a href="https://facebook.com">Techbase</a></p> 
    </footer>
    
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</body>
</html>