<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yummy Recipes</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar navbar-default"><!--start of navbar-->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="../static/images/img.png" class="logo"></a>
            </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Yummy Recipes</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul> <!--end of navbar-->
        </div>
        </nav>
        <div class="container sForm">
        <form id="editForm" action="">
             
              <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="firstname" class="form-control" name="pwd">
              </div>
              
                <div class="form-group">
                <label for="Lastname"> Last Name:</label>
                <input type="lastname" class="form-control" name="pwd">
              </div>
             
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="username" class="form-control" name="email">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" name="pwd">
              </div>
            
              <button type="submit" class="btn btn-primary pull-right">Submit</button>            
        </form><!--end of name-->
    </div>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</body>
</html>