<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yummy Recipes</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
        <nav class="navbar navbar-default"><!--start of navbar-->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="../static/images/img.png" class="logo"></a>
            </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="addCategory.html">Add Category</a></li>
            <li><a href="viewRecipe.html">My Recipe</a></li>
            <li><a href="index.html">Logout</a></li>
        </ul> <!--end of navbar-->
        </div>
        </nav>
        <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
            <div class="panel panel-default">
              <div class="panel-heading">My Recipes</div>
              <div class="panel-body"></div>
            </div>
            </div>
        </div>
    </div>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</body>
</html>